*{
    margin: 0 auto; 
    padding: 0; 
    box-sizing: border-box;
}

.inner__Box{
    background-color: royalblue;
    width: 200px;
    height: 200px;
    transform:scale(0.80) rotate(360deg);
    transition: 1s;
  

}

.out__Box:hover .inner__Box{
    background-color: royalblue;
    width: 200px;
    height: 200px;
    transform:scale(1);
    border-top: 10px solid mediumspringgreen;
    border-bottom: 10px solid mediumspringgreen;
 
}
.out__Box{
    background-color: moccasin;
    width: 300px;
    height: 300px;
    display: flex;
    place-items: center;
    transform: rotate(45deg);
    margin-top: 100px;

}

.magic__Box{
    background-color: moccasin;
    width: 150px;
    height: 150px;
    transition: width 0.3s;
    border-bottom: 8px solid mediumspringgreen;
    box-shadow: 0px 10px 10px #00000054;
    border-radius: 5px;;

}


.out__Box:hover .magic__Box{
    width: 10px;

}